[Desktop Entry]
Type=Application
Name=Audio mixer
Name[fr]=Volume audio
Comment=Edit volume with cmixer
Comment[fr]=Modifier le volume avec cmixer
Exec=cmixer
Icon=multimedia-volume-control
Categories=Utility;Network;
Terminal=true
