[Desktop Entry]
Type=Application
Name=Upgrade OpenBSD
Name[fr]=Mise à jour d'OpenBSD
Comment=Upgrade OpenBSD with syspatch and openup
Comment[fr]=Mettre OpenBSD à jour avec syspatch et openup
Exec=/usr/local/share/isotop/bin/openbsdupgrade
Categories=System;
Terminal=true
Icon=system-software-update
