[Desktop Entry]
Type=Application
Name=Send dmesg to OpenBSD
Name[fr]=Envoyer le dmesg à OpenBSD
Comment=Send dmesg and info to help OpenBSD developpers
Comment[fr]=Envoyer vos informations système pour aider les développeurs
Exec=/usr/local/share/isotop/bin/send_dmesg.sh
Categories=Utility;
Icon=mail-reply-sender
Terminal=false
