[Desktop Entry]
Type=Application
Name=Configure WiFi
Name[fr]=Configurer le WiFi
Comment=Configure WiFi easily
Comment[fr]=Configurer le WiFi facilement
Exec=/opt/bin/doasowi
Categories=System;Settings;
Terminal=true
Icon=network-wireless
