[Desktop Entry]
Type=Application
Name=Configurer le WiFi
Comment=Configurer le WiFi facilement
Exec=/opt/bin/doasowi
Categories=System;Settings;
Terminal=true
Icon=network-wireless
