[Desktop Entry]
Type=Application
Name=Envoyer le dmesg à OpenBSD
Comment=Send dmesg and info to help OpenBSD developpers
Exec=/opt/bin/send_dmesg.sh
Categories=Utility;
Icon=mail-reply-sender
Terminal=false
