[Desktop Entry]
Type=Application
Name=Tkmenu
Comment=simple and quick menu
Exec=/opt/bin/tkmenu
Icon=/opt/isotop/pixmaps/tkmenu.png
Categories=Utility;
Terminal=false
