[Desktop Entry]
Type=Application
Name=Youtube-dl-gui
Comment=Download videos from youtube and other hosts
Exec=/opt/bin/youtube-dl
Categories=Application;Network;
Icon=video-x-generic
Terminal=false
