# Alias
#alias su='su -'
# Raccourcis pour 'ls'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lls='ls -s'

# Quelques alias pratiques
alias c='clear'
alias less='less --quiet'

#Connaitre l'espace restant
alias dh='df -h'

# Parce que j'aime savoir ce que je fais
alias rm='rm --verbose'
alias rmr='rm --verbose -rf'
alias cpr='cp --verbose -r'
alias cp='cp --verbose'
alias mv='mv --verbose'

# noir et blanc, c'est cool
alias xterm='xterm -bg black -fg white'

# Combien de place prennent mes fichiers/dossiers?
alias hob='du -hs * | sort -h'

# Remonter d'un dossier et ls
alias u="cd .. && ls "
# Edition simple
alias v='vim'

#  Voir les process qui utilisent une connection internet
alias processports='lsof -i -n -P'

# Voir les ports ouverts
alias openports='netstat -nape --inet'

# Une calculatrice en python
alias calc='python -ic "from math import *; from random import *"' 

# compare 2 répertoire
alias diffdir='diff -rq $1 $2'

# réduire le poids d'un pdf
alias pdfmini="gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=fichier_reduit.pdf "

# adresse ip
alias whatsmyip='wget -qO- http://ipecho.net/plain'

# Enlever les commentaires : 
alias nocomment='egrep -v "^\s*(#|$)"'

# insert image in latex slide
alias image2slide='mogrify -density 96 -units PixelsPerInch'
