[Populous]
row=4
col=0

[Programme_college_PC.pdf]
row=6
col=0

[Mount and Blade : Warband]
row=5
col=0

[Volume de 6,7 GB]
row=3
col=0

[Corbeille]
row=2
col=0

[Système de fichiers]
row=1
col=0

[Répertoire personnel]
row=0
col=0

