[Desktop Entry]
Type=Application
Name=dmenu Alarm 
Name[fr]=Alarme dmenu
Comment=Set an alarm in minutes
Comment[fr]=Définir une nouvelle alarme
Exec=dalarm
Icon=alarm-clock
Categories=Utility;
Terminal=false
