[Desktop Entry]
Type=Application
Name=Search on-line
Name[fr]=Chercher en ligne
Comment=Choose your engine to search on the web with dmenu.
Comment[fr]=Chercher en ligne avec le moteur de son choix avec dmenu.
Exec=dsch
Icon=system-search
Categories=Utility;Network;
Terminal=false
