[Desktop Entry]
Type=Application
Name=Screenshot
Name[fr]=Capture d'écran
Comment=Take a screenshot
Comment[fr]=Capture d'écran
Exec=dshot
Icon=stock_screenshot
Categories=Utility;
Terminal=false
