[Desktop Entry]
Name=NcMpc
Comment=MPD Front end
Comment[fr]=Interface console à MPD
Exec=ncmpc
Terminal=true
Type=Application
Icon=audio-x-generic
Categories=AudioVideo;
