[Desktop Entry]
Type=Application
Name=Send dmesg to OpenBSD
Name[fr]=Envoyer le dmesg à OpenBSD
Comment=Send dmesg and info to help OpenBSD developpers
Comment[fr]=Envoyer vos informations système pour aider les développeurs
Exec=send_dmesg
Categories=Utility;
Icon=mail-reply-sender
Terminal=false
