[Desktop Entry]
Version=1.0
Type=Application
Name=Mise à jour d'OpenBSD
Comment=
Exec=/opt/bin/openbsdupgrade
Icon=system-software-update
Path=
Terminal=true
StartupNotify=false
