[Desktop Entry]
Version=1.0
Type=Application
Name=Configure WiFi
Comment=OpenBSD WiFi Manager
Exec=doas /opt/bin/owi
Icon=network-wireless
Path=
Terminal=false
StartupNotify=false
