[Desktop Entry]
Name = Upload 
Name[fr]=Uploader 
Tooltip = Upload image
Tooltip[fr] = Téléverser l'image
Icon = image
Profiles = on_image;

[X-Action-Profile on_image]
Name = Upload
Name[fr]=Téléverser 
MimeTypes = image/*;
Exec = pixup %F
