
! sourcerer by xero harrison (http://sourcerer.xero.nu)
!  ├─ based on sorcerer by Jeet Sukumaran (http://jeetworks.org)
!  └─ based on mustang by Henrique C. Alves (hcarvalhoalves@gmail.com)

! █▓▒░ scorcerer colors
*.foreground:   #c2c2b0
*.background:   #111
*.cursorColor:  #c2c2b0
! black
*.color0:       #111111
*.color8:       #181818
! red
*.color1:       #aa4450
*.color9:       #ff6a6a
! green
*.color2:       #719611
*.color10:      #b1d631
! yellow
*.color3:       #ff9800
*.color11:      #87875f
! blue
*.color4:       #6688aa
*.color12:      #90b0d1
! magenta
*.color5:       #8f6f8f
*.color13:      #8181a6
! cyan
*.color6:       #528b8b
*.color14:      #87ceeb
! white
*.color7:       #d3d3d3
*.color15:      #c1cdc1
! stylized
*.colorIT:      #719611
*.colorBD:      #d3d3d3
*.colorUL:      #528b8b

! Xterm config
xterm*faceName: Hack:pixelsize=12:antialias=true
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.translations: #override \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
XTerm*loginShell:true
XTerm*locale: utf8
XTerm*renderFont: true
XTerm*saveLines: 4242
XTerm*internalBorder:		12
XTerm*scrollBar:		false
!XTerm*selectToClipboard:	true
XTerm*utf8: 1

! ===== xlock
! plain white-on-black lock screen
xlock.description : off
xlock.echokeys    : off
xlock.info        :
xlock.mode        : blank
xlock.username    : "?: "
xlock.password    : "pass: "

! === xclock
xclock*highlight: #ffffff
xclock*hands: #eeeeee


! xmessage
Xmessage.form.okay.shapeStyle:         rectangle
Xmessage*buttons:                       OK
Xmessage*defaultButton:                 OK
Xmessage.form.message.Scroll:          WhenNeeded
Xmessage*borderWidth:                  0
Xmessage*Text.borderWidth:             0
Xmessage*Command.shapeStyle:           rectangle
Xmessage*Command.highlightThickness:    3
Xmessage*Command.internalWidth:         5
Xmessage*Command.internalHeight:        3
Xmessage*Command.borderColor:            #75a9e8
Xmessage*font:-misc-fixed-bold-r-normal-*-18-*-*-*-*-*-iso10646-1


! all
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*font:-misc-fixed-medium-r-normal-*-14-*-*-*-*-*-iso10646-1

