#include "/usr/local/share/isotop/data/Xresources-nord"
*font:-misc-fixed-medium-r-normal-*-15-*-*-*-*-*-iso10646-1
*faceName: DejaVu Sans Mono:pixelsize=12:antialias=true:autohint=true

! Xterm config
xterm*faceName: Hack:pixelsize=12:antialias=true
!xterm*faceName: DejaVu Sans Mono:pixelsize=12:antialias=true:autohint=true
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.translations: #override \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
XTerm*loginShell: true
XTerm*locale: utf8
XTerm*renderFont: true
XTerm*saveLines: 4242
XTerm*internalBorder: 12
XTerm*scrollBar: false
XTerm*utf8: 1
XTerm*cursorBlink: true

! ===== xlock
! plain white-on-black lock screen
xlock.description : off
xlock.echokeys    : off
xlock.info        :
xlock.mode        : blank
xlock.username    : "?: "
xlock.password    : "pass: "

! xmessage
Xmessage.form.okay.shapeStyle:         rectangle
Xmessage*buttons:                       OK
Xmessage*defaultButton:                 OK
Xmessage.form.message.Scroll:          WhenNeeded
Xmessage*borderWidth:                  0
Xmessage*Text.borderWidth:             0
Xmessage*Command.borderWidth:          0
Xmessage*Command.shapeStyle:           rectangle
Xmessage*Command.highlightThickness:   2 
Xmessage*Command.internalWidth:         5
Xmessage*Command.internalHeight:        1
xmessage*message.scrollHorizontal: Never
xmessage*message.scrollVertical: Never
xmessage*baseTranslations:#augment\
        <Key>Return:exit()\n\
        <Key>Escape:exit()\n\
		<Key>space:exit()

!xclock
xclock*Foreground:#eeeeee

! all
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

